
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }




.header .navbar {   background-color: transparent !important;
                    margin-bottom: 100px;}

body {      font-family: 'Nulshock-Bold', sans-serif;
            background-color:black;  }


/*PAGINA PERSONAJES*/

.personas {display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 100vh;}

.card {position: relative;
        width: 300px;
        height: 350px;
        margin: 20px;
    }

.card  .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s}

.card .front {transform: perspective(600px) rotateY(0deg);
                box-shadow: 0 5px 10px #000;}

.card .front img {  position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;}

.card .front h3 {   position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 45px;
                    line-height: 45px;
                    color: #fff;
                    background: rgba(0, 0, 0,.4);
                    text-align: center;}

.card .back {   transform: perspective(600px) rotateY(180deg);
                background: rgb(3, 35, 54);
                padding: 15px;
                color: #f3f3f3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                box-shadow: 0 5px 10px #000}

.card .back .link { border-top: solid 1px #f3f3f3;
                    height: 50px;
                    line-height: 50px}

.card .back .link a {color: #f3f3f3}

.card .back h3 {font-size: 30px;
                margin-top: 20px;
                letter-spacing: 2px}

.card .back p {letter-spacing: 1px}

.card:hover .front {transform: perspective(600px) rotateY(180deg);}

.card:hover .back {transform: perspective(600px) rotateY(360deg);}


.sliders     {  background: linear-gradient(to right, black);
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;}

.slider {   position:relative; 
            width: 200px;
            height: 200px;
            transform-style: preserve-3d;
            animation: rotate 30s linear infinite;}

@Keyframes rotate {
    0% { transform: perspective(1000px) rotateY(0deg); }

    100% {transform: perspective(1000px) rotateY(360deg)}
}

.slider span img {  position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    object-fit: cover;
                    transition: 2s;}



.slider span:hover img {transform: translateY(-50px) scale(1.2);}

.slider span {  position:absolute; 
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-origin: center;
                transform-style: preserve-3d;
                transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);}



/*PAGINA ACERCA DE*/

.section {width: 100%;
        min-height: 100vh;
        background-color: none}

.container2 {width: 80%;
            display: block;
            margin: auto;
            padding-top: 100px}

.content-section {float: left;
                    width: 95%}

.content-section .title {text-transform: uppercase;
                            font-size: 30px;
                            margin-bottom: 25px}

.content-section .content h3 {margin-top: 20px;
                                color: #A7C564;
                                font-size: 27px}

.content-section .content p {margin-top: 10px;
                            font-family: sans-serif;
                            font-size: 22px;
                            line-height: 1.5;
                            color: white;
                            margin-bottom: 30px}

.content-section .content .button {margin-top: 30px;
                                    margin-bottom: 200px}

.content-section .content .button a {background-color: #3d3d3d;
                                    padding: 12px 40px;
                                    text-decoration: none;
                                    color: #fff;
                                    font-size: 25px;
                                    letter-spacing: 1.5px}

.content-section .content .button a:hover {background-color: red;
                                            color: #fff}


@media screen and (max-width: 768px){
.container2 {width: 80%;
            display: block;
            margin: auto;
            padding-top: 5 0px}

.content-section {  float: none;
                    width: 100%;
                    display: block;
                    margin: auto;}

.content-section .title {text-align: center;
                            font-size: 19px}

.content-section .content .button {text-align: center;
                                    margin-bottom: 100px}

.content-section .content .button a {padding: 9px 30px;}}

.slider- {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 50px;
}

.slider- .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 8);
}

.slider- .slide {
    width: 200px;
}

.slider- .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 4));
        transform: translateX(calc(-200px * 4));
    }
}

///


.logo img { width: 30%;
            height: 30%; }

video{  min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;}

.fondo img{  min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;}

 .title{
     text-align: center;
     margin-top: 80px;
     font-family: sans-serif;
     font-size: 40px;
     text-transform: uppercase;
     color: white;
 }


/*Artistas*/

 .container__slider{
     max-width: 1000px;
     height: 500px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px 10px;
     margin-top: -60px;
     margin-bottom: 10px ;
 }

 input[type=radio]{
     display: none;
 }

 .container{
     width: 100%;
     max-width: 1200px;
     height: 80%;
     max-height: 600px;
     transform-style: preserve-3d;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 100px;
 }

 .cards{
     position: relative;
     width: 100%;
     height: 100%;
 }

 .card-{
     position: absolute;
     width: 60%;
     height: 100%;
     left: 0;
     right: 0;
     margin: auto;
     cursor: pointer;
     transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
 }

.cards img{
     width: 100%;
     height: 100%;
     border-radius: 10px;
     -o-object-fit: cover;
     object-fit: cover;
 }


 #item-2:checked ~ .cards #selector-1,
 #item-1:checked ~ .cards #selector-3,
 #item-3:checked ~ .cards #selector-2{
     transform: translateX(-40%) scale(0.8);
     opacity: 0.6;
     z-index: 0;
 }

 #item-3:checked ~ .cards #selector-1,
 #item-1:checked ~ .cards #selector-2,
 #item-2:checked ~ .cards #selector-3{
     transform: translateX(40%) scale(0.8);
     opacity: 0.6;
     z-index: 0;
 }

 #item-1:checked ~ .cards #selector-1,
 #item-2:checked ~ .cards #selector-2,
 #item-3:checked ~ .cards #selector-3{
     transform: translateX(0) scale(1);
     z-index: 1;
 }


#caja_formulario .boton {background: #A7C564;
                        border-radius: 15px; 
                        color:white ;
                        font-size: 15px;
                        padding: 5px;
                        border:2px solid white;
                        margin-bottom: 5px;}


.redes {text-align: center;martin-bottom: 100px}

h3 {margin-top: 50px}

h1 {color:#A7C564 ;
    font-size: 45px;
    text-align: center;
    font-family: 'Creepster', cursive;}

h4 {color:white ;
    font-size: 45px;
    text-align: center;
    font-family: 'Creepster', cursive;}

h5 {color:white ;
    font-size: 25px;
    text-align: center;}

h6 {color:black ;
    font-size: 45px;
    text-align: center;
    font-family: 'Creepster', cursive;}

h2 {color:transparent ;
    font-size: 45px;
    text-align: center;
    font-family: 'Creepster', cursive;
    -webkit-text-stroke: 2px yellow}

.parrafo  { margin-top: 100px;
            margin-bottom: 150px}

/*PAGINA RESEÑAS*/


.reseñas {color: yellow}

.testimonios_contenedor {   display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            width: 100%;}

.testimonios {  display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                margin-top: 200px}

.testimonios_caja { width: 500px;
                    box-shadow: 2px 2px 40px rgb(0, 0, 0.1);
                    background-color: black;
                    padding: 20px;
                    margin: 15px;
                    cursor: pointer;}

.perfil-img {   width:50px;
                height:50px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 30px;}

.perfil-img img {   width: 100%;
                    height: 100%;
                    object-fit: center;}

.perfil {   display: flex;
            align-items: center;}

.name-user {    display:flex; 
                flex-direction: column;
                color: white;}

.name-user strong {  color: #3d3d3d;
                    font-size: 1.3rem;}

.name-user span {   color: #979797;
                    font-size: 1.1rem;}

.reseñas {color: #f9d71c;}

.caja-top { display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;}

.comentarios_clientes p {color: white;}




#caja_formulario  {     color: #A7C564;
                        text-align: center;
                        font-size: 15px;
                        margin-bottom: 35px;}
                
#caja_formulario:hover {background: #00B3CB;
                        color: black;}

#caja_formulario2  {     color: yellow;
                        text-align: center;
                        font-size: 15px;
                        margin-bottom: 35px;}
                
#caja_formulario2:hover {background: yellow;
                            color: black;}

#caja_formulario2 .boton {background: yellow;
                        border-radius: 15px; 
                        color:black ;
                        font-size: 15px;
                        padding: 5px;
                        border:2px solid black;
                        margin-bottom: 5px;}

.redes {text-align: center;martin-bottom: 100px}


@media (max-width: 720px) { .logo img {  width: 60%;
                                        height: 60%;
                                        margin-top: 50px;}

                            .container {width: 900%;
                                        max-width: 1000px;
                                        height: 60%;
                                        max-height: 500px;
                                        transform-style: preserve-3d;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;}}

@media (max-width: 720px) {
                    .slider {position:relative; 
                            width: 110px;
                            height: 110px;
                            transform-style: preserve-3d;
                            animation: rotate 30s linear infinite;}
                    .slider span {  position:absolute; 
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-origin: center;
                transform-style: preserve-3d;
                transform: rotateY(calc(var(--i)*45deg)) translateZ(180px);}}

@media (max-width: 480px) { .logo img {  width: 65%;
                                        height: 65%;
                                        margin-top: 40px;}

                            .container {width: 700%;
                                        max-width: 1000px;
                                        height: 40%;
                                        max-height: 500px;
                                        transform-style: preserve-3d;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;}

                            .container__slider{
                                         max-width: 1000px;
                                         height: 400px;
                                         margin: auto;
                                         display: flex;
                                         align-items: center;
                                         justify-content: center;
                                         padding: 5px 5px;
                                         margin-top: -80px;
                                         margin-bottom: 10px ;}

